<div class="hero-container position-relative overflow-hidden text-white ">
    <div class="hero-background position-absolute w-100 h-100"></div>
    <div class="position-relative py-5 m-auto">
      <div class="row">
        <div class="col-lg-8 text-center mx-auto">
          <h1 class="display-4 fw-bold mb-4">{{ heroTitle }}</h1>
          <p class="lead mb-5">{{ heroSubtitle }}</p>
          <div class="d-flex justify-content-center">
            <a routerLink="/productos" class="btn btn-primary btn-lg me-3">
              Ver Productos
            </a>
            <a routerLink="/contacto" class="btn btn-outline-light btn-lg">
              Contáctanos
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>