.hero-container {
    height: 80vh;
    min-height: 500px;}

    .hero-background {
        background-image: url('/desk1.jpg');
        background-size: cover;
        background-position: center;
        filter: brightness(0.6);
        z-index: -1;
      }